<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>StrikingDash</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

  <!-- inject:css-->

  <link rel="stylesheet" href="assets/vendor_assets/css/bootstrap/bootstrap.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/daterangepicker.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/fontawesome.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/footable.standalone.min.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/fullcalendar@5.2.0.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/jquery-jvectormap-2.0.5.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/jquery.mCustomScrollbar.min.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/leaflet.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/line-awesome.min.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/magnific-popup.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/MarkerCluster.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/MarkerCluster.Default.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/select2.min.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/slick.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/star-rating-svg.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/trumbowyg.min.css">

  <link rel="stylesheet" href="assets/vendor_assets/css/wickedpicker.min.css">

  <link rel="stylesheet" href="style.css">

  <!-- endinject -->

  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
</head>

<body class="layout-light side-menu overlayScroll">
<div class="mobile-search">
  <form class="search-form">
    <span data-feather="search"></span>
    <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
  </form>
</div>

<div class="mobile-author-actions"></div>
<div th:replace="include/header :: header" ></div>
<main class="main-content">



  <div class="contents">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12"><br>

          <div class="container-fluid">
            <!-- Autres contenus de la page -->
            <div th:if="${errors}" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><span th:text="${errors}"></span></strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- Suite du contenu de la page -->
          </div>


          <div class="breadcrumb-main user-member justify-content-sm-between ">
            <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
              <div class="d-flex align-items-center user-member__title justify-content-center mr-sm-25">
                <h4 class="text-capitalize fw-500 breadcrumb-title">Team Members</h4>
                <span class="sub-title ml-sm-25 pl-sm-25">274 Users</span>
              </div>


            </div>
            <div class="action-btn">
              <a href="#" class="btn px-15 btn-primary" data-toggle="modal" data-target="#new-member">
                <i class="las la-plus fs-16"></i>Add New Member</a>

              <!-- Modal -->
              <div class="modal fade new-member" id="new-member" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content  radius-xl">
                    <div class="modal-header">
                      <h6 class="modal-title fw-500" id="staticBackdropLabel">Ajouter Un Membre</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="new-member-modal">
                        <form action="/tache/save" method="post" th:object="${tache}" enctype="multipart/form-data" class="was-validated">
                          <div class="form-group mb-20">
                            <label class="mb-15">Titre</label>
                            <input type="text" class="form-control" placeholder="Nom" th:field="*{title}" name="title" pattern="[A-Za-zÀ-ÿ\s]+" required
                                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">
                            <div class="invalid-feedback">
                              <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                              Le titre est requis.
                            </div>
                          </div>
                          <div class="form-group mb-20">
                            <label class="mb-15">Description</label>
                            <textarea class="form-control" placeholder="Description" th:field="*{description}" name="description" required th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" maxlength="300"></textarea>
                            <div class="invalid-feedback">
                              <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                              La description est requis.
                            </div>
                          </div>
                          <!-- Ajouter la validation et les messages d'erreur pour les autres champs -->
                          <div class="form-group mb-20">
                            <label class="mb-15">Date de début</label>
                            <input type="date" class="form-control" placeholder="Date De debut" th:field="*{date_debut}" name="date_debut" required
                                   th:classappend="${#fields.hasErrors('date_debut')} ? 'is-invalid'" id="dateDebutInput">
                            <div class="invalid-feedback">
                              <span th:if="${#fields.hasErrors('date_debut')}" th:errors="*{date_debut}"></span>
                              La date de début est requise.
                            </div>
                          </div>
                          <div class="form-group mb-20">
                            <label class="mb-15">Date de fin</label>
                            <input type="date" class="form-control" placeholder="Date De fin" th:field="*{date_fin}" name="date_fin"  required
                                   th:classappend="${#fields.hasErrors('date_fin')} ? 'is-invalid'" id="dateFinInput">
                            <div class="invalid-feedback">
                              <span th:if="${#fields.hasErrors('date_fin')}" th:errors="*{date_fin}"></span>
                              La date de fin est requise.
                            </div>
                          </div>
                          <div class="form-group mb-20">
                            <label class="mb-15">Etat</label>
                            <div class="category-member">
                              <select th:field="*{etat}" name="etat" class="js-example-basic-single js-states form-control"
                                      th:classappend="${#fields.hasErrors('etat')} ? 'is-invalid'" required>
                                <option value="0">Pas encore commencé</option>
                              </select>
                            </div>
                            <div class="invalid-feedback">
                              <span th:if="${#fields.hasErrors('etat')}" th:errors="*{etat}"></span>
                              L'etat est requis.
                            </div>
                          </div>


                          <div class="form-group mb-20">
                            <label class="mb-15">Membre</label>
                            <div class="category-member">
                              <select th:field="*{users}" name="users" class="js-example-basic-single js-states form-control"
                                      th:classappend="${#fields.hasErrors('users')} ? 'is-invalid'" required>
                                <option value="">Sélectionner un client</option>
                                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.nom}"></option>
                              </select>
                            </div>
                            <div class="invalid-feedback">
                              <span th:if="${#fields.hasErrors('users')}" th:errors="*{users}"></span>
                              Le client est requis.
                            </div>
                          </div>


                          <div class="form-group mb-20">
                            <label class="mb-15">Projet</label>
                            <div class="category-member">
                              <select th:field="*{project}" name="project" class="js-example-basic-single js-states form-control"
                                      th:classappend="${#fields.hasErrors('project')} ? 'is-invalid'" required>
                                <option value="">Sélectionner un projet</option>
                                <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.title}"></option>
                              </select>
                            </div>
                            <div class="invalid-feedback">
                              <span th:if="${#fields.hasErrors('project')}" th:errors="*{project}"></span>
                              Le projet est requis.
                            </div>
                          </div>

                          <div class="button-group d-flex pt-25">
                            <button type="submit" class="btn btn-primary btn-default btn-squared text-capitalize">Ajouter</button>

                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->


            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mb-30">
          <div class="card mt-30">
            <div class="card-body">

              <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table">
                <div class="table-responsive">
                  <div class="adv-table-table__header">
                    <h4>Data Table</h4>
                  </div><br>
                  <div id="filter-form-container"></div>
                  <table class="table mb-0 table-borderless adv-table" data-sorting="true" data-filter-container="#filter-form-container" data-paging-current="1" data-paging-position="right" data-paging-size="10">
                    <thead>
                    <tr class="userDatatable-header">
                      <th>
                        <span class="userDatatable-title">Projet</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Titre</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Date de debut</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">date de fin</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Etat</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Membre</span>
                      </th>
                      <th>
                        <span class="userDatatable-title float-right">action</span>
                      </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="task : ${task}">
                      <td>
                        <div class="userDatatable-content" th:text="${task.project.title}">

                        </div>
                      </td>
                      <td>
                        <div class="userDatatable-content" th:text="${task.title}">

                        </div>
                      </td>
                      <td>
                        <div class="userDatatable-content" th:text="${task.date_debut}">

                        </div>
                      </td>
                      <td>
                        <div class="userDatatable-content d-inline-block" th:if="${(T(java.time.LocalDate).parse(task.date_fin) < #temporals.createToday()) and (task.etat != '100') }"  >
                            <span class="bg-opacity-danger color-danger rounded-pill userDatatable-content-status active" th:text="${task.date_fin}">
                            </span>
                        </div>
                        <div class="userDatatable-content" th:unless="${T(java.time.LocalDate).parse(task.date_fin) < #temporals.createToday() and (task.etat != '100')}" th:text="${task.date_fin}">
                        </div>
                      </td>
                      <td>
                        <div class="userDatatable-content">
                          <div th:if="${task.etat == 0}" >Pas encore commencé</div>
                          <div class="project-progress d-flex align-items-center" th:if="${task.etat == 100}">


                            <div class="media-ui--completed ">
                              <div class="user-group-progress-bar">

                                <div class="progress-wrap d-flex align-items-center mb-0">
                                  <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>



                                  <span class="progress-icon"><span class="color-success" data-feather="check"></span></span>

                                </div>

                                <p class="color-light fs-12 mt-1 mb-0">Terminé</p>
                              </div>
                            </div>

                          </div>
                          <div th:unless="${task.etat == 0 || task.etat == 100}" class="project-progress d-flex align-items-center">
                            <div class="user-group-progress-bar">
                              <div class="progress-wrap d-flex align-items-center mb-0">
                                <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar"
                                       th:style="'width: ' + ${task.etat} + '%;'"
                                       aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="progress-percentage" th:text="${task.etat + '%'}"></span>
                              </div>
                              <p class="color-light fs-12 mt-1 mb-0">En cours</p>
                            </div>
                          </div>
                        </div>
                      </td>

                      <td>
                        <a href="/team"><img class="rounded-circle wh-34" th:src="${task.users.cheminImage}" alt="author"></a>


                      </td>
                      <td>
                        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                          <li>
                            <a href="#" class="view">
                              <span data-feather="eye"></span></a>
                          </li>
                          <li>
                            <a href="#" class="edit">
                              <span data-feather="edit"></span></a>
                          </li>
                          <li>
                            <a href="#" class="remove">
                              <span data-feather="trash-2"></span></a>
                          </li>
                        </ul>
                      </td>
                    </tr>



                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-copyright">
            <p>2020 @<a href="#">Aazztech</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer-menu text-right">
            <ul>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Team</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
          <!-- ends: .Footer Menu -->
        </div>
      </div>
    </div>
  </footer>
</main>
<div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
</div>
<div class="overlay-dark-sidebar"></div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>
<!-- inject:js-->
<script src="assets/vendor_assets/js/jquery/jquery-3.5.1.min.js"></script>
<script src="assets/vendor_assets/js/jquery/jquery-ui.js"></script>
<script src="assets/vendor_assets/js/bootstrap/popper.js"></script>
<script src="assets/vendor_assets/js/bootstrap/bootstrap.min.js"></script>
<script src="assets/vendor_assets/js/moment/moment.min.js"></script>
<script src="assets/vendor_assets/js/accordion.js"></script>
<script src="assets/vendor_assets/js/autoComplete.js"></script>
<script src="assets/vendor_assets/js/Chart.min.js"></script>
<script src="assets/vendor_assets/js/charts.js"></script>
<script src="assets/vendor_assets/js/daterangepicker.js"></script>
<script src="assets/vendor_assets/js/drawer.js"></script>
<script src="assets/vendor_assets/js/dynamicBadge.js"></script>
<script src="assets/vendor_assets/js/dynamicCheckbox.js"></script>
<script src="assets/vendor_assets/js/feather.min.js"></script>
<script src="assets/vendor_assets/js/footable.min.js"></script>
<script src="assets/vendor_assets/js/fullcalendar@5.2.0.js"></script>
<script src="assets/vendor_assets/js/google-chart.js"></script>
<script src="assets/vendor_assets/js/jquery-jvectormap-2.0.5.min.js"></script>
<script src="assets/vendor_assets/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="assets/vendor_assets/js/jquery.countdown.min.js"></script>
<script src="assets/vendor_assets/js/jquery.filterizr.min.js"></script>
<script src="assets/vendor_assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/vendor_assets/js/jquery.mCustomScrollbar.min.js"></script>
<script src="assets/vendor_assets/js/jquery.peity.min.js"></script>
<script src="assets/vendor_assets/js/jquery.star-rating-svg.min.js"></script>
<script src="assets/vendor_assets/js/leaflet.js"></script>
<script src="assets/vendor_assets/js/leaflet.markercluster.js"></script>
<script src="assets/vendor_assets/js/loader.js"></script>
<script src="assets/vendor_assets/js/message.js"></script>
<script src="assets/vendor_assets/js/moment.js"></script>
<script src="assets/vendor_assets/js/muuri.min.js"></script>
<script src="assets/vendor_assets/js/notification.js"></script>
<script src="assets/vendor_assets/js/popover.js"></script>
<script src="assets/vendor_assets/js/select2.full.min.js"></script>
<script src="assets/vendor_assets/js/slick.min.js"></script>
<script src="assets/vendor_assets/js/trumbowyg.min.js"></script>
<script src="assets/vendor_assets/js/wickedpicker.min.js"></script>
<script src="assets/theme_assets/js/drag-drop.js"></script>
<script src="assets/theme_assets/js/footable.js"></script>
<script src="assets/theme_assets/js/full-calendar.js"></script>
<script src="assets/theme_assets/js/googlemap-init.js"></script>
<script src="assets/theme_assets/js/icon-loader.js"></script>
<script src="assets/theme_assets/js/jvectormap-init.js"></script>
<script src="assets/theme_assets/js/leaflet-init.js"></script>
<script src="assets/theme_assets/js/main.js"></script>
<!-- endinject-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


<script th:inline="javascript">
  $(document).ready(function() {
    $('#dateDebutInput').change(function() {
      var dateDebut = new Date($(this).val());
      var dateFinInput = $('#dateFinInput');
      var minDate = new Date(dateDebut.getTime() + 86400000); // Ajoute 1 jour à la date de début
      dateFinInput.attr('min', formatDate(minDate));
    });
  });

  function formatDate(date) {
    var year = date.getFullYear();
    var month = (date.getMonth() + 1).toString().padStart(2, '0');
    var day = date.getDate().toString().padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
</script>
</body>

</html>